# Dependencies
node_modules
.pnpm-store

# Next / build
.next
out
build
coverage

# Env
.env
.env.local
.env.*.local

# IDE
.vscode
.DS_Store

# Logs
npm-debug.log*
pnpm-debug.log*

# Dist
apps/**/dist
packages/**/dist
